.service{
    border: 2px solid #E7E7E7;
    border-radius: 36px;
    transition: .3s ease-in-out;
}

.service:hover{
    border: 2px solid #0B0D17;
}

.service:hover .service_icon, .service:hover h6{
    transition: .3s ease-in-out;
    transform: scale(1.2);
}